Test/AppJobPortal/Connected Services/UserServiceReferenceTcp/Repository.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Repository" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Repository" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsersRepository.RepositoryUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:UsersRepository.Gender" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" type="tns:UsersRepository.Region" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersRepository.RepositoryUser" nillable="true" type="tns:UsersRepository.RepositoryUser" />
  <xs:simpleType name="UsersRepository.Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UsersRepository.Gender" nillable="true" type="tns:UsersRepository.Gender" />
  <xs:simpleType name="UsersRepository.Region">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hovedstaden" />
      <xs:enumeration value="Midtjylland" />
      <xs:enumeration value="Nordjylland" />
      <xs:enumeration value="Sjælland" />
      <xs:enumeration value="Syddanmark" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UsersRepository.Region" nillable="true" type="tns:UsersRepository.Region" />
</xs:schema>