Test/MyWeb/Connected Services/UserReference1/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobPortal.Model" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/UserService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUserByID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByID" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUserByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ListByGender_InputMessage">
    <wsdl:part name="parameters" element="tns:ListByGender" />
  </wsdl:message>
  <wsdl:message name="IUserService_ListByGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListByGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ListByRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListByRegion" />
  </wsdl:message>
  <wsdl:message name="IUserService_ListByRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUserEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserEmail" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUserEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDescription" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUser" message="tns:IUserService_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUserResponse" message="tns:IUserService_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUserByID" message="tns:IUserService_FindUserByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUserByIDResponse" message="tns:IUserService_FindUserByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditUser" message="tns:IUserService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditUserResponse" message="tns:IUserService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAll" message="tns:IUserService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllResponse" message="tns:IUserService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListByGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ListByGender" message="tns:IUserService_ListByGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ListByGenderResponse" message="tns:IUserService_ListByGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListByRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ListByRegion" message="tns:IUserService_ListByRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ListByRegionResponse" message="tns:IUserService_ListByRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUserEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditUserEmail" message="tns:IUserService_EditUserEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditUserEmailResponse" message="tns:IUserService_EditUserEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddDescription" message="tns:IUserService_AddDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddDescriptionResponse" message="tns:IUserService_AddDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceHttpEndpoint" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByID">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUserByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListByGender">
      <soap:operation soapAction="http://tempuri.org/IUserService/ListByGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListByRegion">
      <soap:operation soapAction="http://tempuri.org/IUserService/ListByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserEmail">
      <soap:operation soapAction="http://tempuri.org/IUserService/EditUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDescription">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="UserServiceHttpEndpoint" binding="tns:UserServiceHttpEndpoint">
      <soap:address location="http://jobportalik.cloudapp.net/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>