Test/AppJobPortal/Connected Services/ServiceReference/ServiceLibrary.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="AddressLine" nillable="true" type="xs:string" />
      <xs:element name="CityName" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="Gender" type="tns:Gender" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element name="Postcode" nillable="true" type="xs:string" />
      <xs:element name="Region" type="tns:Region" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:simpleType name="Region">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hovedstaden" />
      <xs:enumeration value="Midtjylland" />
      <xs:enumeration value="Nordjylland" />
      <xs:enumeration value="Sjælland" />
      <xs:enumeration value="Syddanmark" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
</xs:schema>