Test/AppJobPortal/Connected Services/OrderReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JobPortal.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logging_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="CreateOrderResult" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="o" nillable="true" type="q2:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShoppingCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShoppingCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="GetShoppingCartResult" nillable="true" type="q3:ShoppingCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayForOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="o" nillable="true" type="q4:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayForOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayForOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CleanCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hourfrom" type="q5:duration" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hourTo" type="q6:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hourfrom" type="q7:duration" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hourTo" type="q8:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFromCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHoursFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHoursFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHoursFromResult" nillable="true" type="q9:ArrayOfduration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHoursTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="from" type="q10:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHoursToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHoursToResult" nillable="true" type="q11:ArrayOfduration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShoppingCartForPaypal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShoppingCartForPaypalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="GetShoppingCartForPaypalResult" nillable="true" type="q12:ShoppingCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCallendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCallendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="GetJobCallendarResult" nillable="true" type="q13:ArrayOfJobOffer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JobPortal.Model" minOccurs="0" name="FindOrderResult" nillable="true" type="q14:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>