Test/UnitTestProject1/Connected Services/OService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OfferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ServiceHttpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOfferService_CreateServiceOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateServiceOffer" />
  </wsdl:message>
  <wsdl:message name="IOfferService_CreateServiceOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateServiceOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IOfferService_FindServiceOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:FindServiceOffer" />
  </wsdl:message>
  <wsdl:message name="IOfferService_FindServiceOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindServiceOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IOfferService_DeleteServiceOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServiceOffer" />
  </wsdl:message>
  <wsdl:message name="IOfferService_DeleteServiceOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServiceOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IOfferService_UpdateServiceOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceOffer" />
  </wsdl:message>
  <wsdl:message name="IOfferService_UpdateServiceOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IOfferService_GetAllOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOffers" />
  </wsdl:message>
  <wsdl:message name="IOfferService_GetAllOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOffersResponse" />
  </wsdl:message>
  <wsdl:portType name="IOfferService">
    <wsdl:operation name="CreateServiceOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfferService/CreateServiceOffer" message="tns:IOfferService_CreateServiceOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfferService/CreateServiceOfferResponse" message="tns:IOfferService_CreateServiceOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindServiceOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfferService/FindServiceOffer" message="tns:IOfferService_FindServiceOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfferService/FindServiceOfferResponse" message="tns:IOfferService_FindServiceOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfferService/DeleteServiceOffer" message="tns:IOfferService_DeleteServiceOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfferService/DeleteServiceOfferResponse" message="tns:IOfferService_DeleteServiceOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfferService/UpdateServiceOffer" message="tns:IOfferService_UpdateServiceOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfferService/UpdateServiceOfferResponse" message="tns:IOfferService_UpdateServiceOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfferService/GetAllOffers" message="tns:IOfferService_GetAllOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfferService/GetAllOffersResponse" message="tns:IOfferService_GetAllOffers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceHttpEndPoint" type="tns:IOfferService">
    <wsp:PolicyReference URI="#ServiceHttpEndPoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateServiceOffer">
      <soap:operation soapAction="http://tempuri.org/IOfferService/CreateServiceOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindServiceOffer">
      <soap:operation soapAction="http://tempuri.org/IOfferService/FindServiceOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceOffer">
      <soap:operation soapAction="http://tempuri.org/IOfferService/DeleteServiceOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceOffer">
      <soap:operation soapAction="http://tempuri.org/IOfferService/UpdateServiceOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOffers">
      <soap:operation soapAction="http://tempuri.org/IOfferService/GetAllOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfferService">
    <wsdl:port name="ServiceHttpEndPoint" binding="tns:ServiceHttpEndPoint">
      <soap:address location="https://localhost:8020/OfferService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>