Test/MyWeb/Connected Services/OrderReference/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobPortal.Model" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/OrderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/OrderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
      <xsd:import schemaLocation="http://jobportalik.cloudapp.net/OrderService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_BookedTimeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/JobPortal.Model" name="detail" element="q1:BookedTimeException" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CancelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CancelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetShoppingCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCart" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetShoppingCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_PayForOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PayForOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_PayForOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CleanCart_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanCart" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CleanCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanCartResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromCart" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetHoursFrom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHoursFrom" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetHoursFrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHoursFromResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetHoursTo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHoursTo" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetHoursTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHoursToResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetShoppingCartForPaypal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartForPaypal" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetShoppingCartForPaypal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartForPaypalResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetJobCallendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCallendar" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetJobCallendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCallendarResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FindOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FindOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FindOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllSalelines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSalelines" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllSalelines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSalelinesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CreateOrder" message="tns:IOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CreateOrderResponse" message="tns:IOrderService_CreateOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/CreateOrderBookedTimeExceptionFault" name="BookedTimeExceptionFault" message="tns:IOrderService_CreateOrder_BookedTimeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CancelOrder" message="tns:IOrderService_CancelOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CancelOrderResponse" message="tns:IOrderService_CancelOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetShoppingCart" message="tns:IOrderService_GetShoppingCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetShoppingCartResponse" message="tns:IOrderService_GetShoppingCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayForOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/PayForOrder" message="tns:IOrderService_PayForOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/PayForOrderResponse" message="tns:IOrderService_PayForOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CleanCart" message="tns:IOrderService_CleanCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CleanCartResponse" message="tns:IOrderService_CleanCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddToCart" message="tns:IOrderService_AddToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddToCartResponse" message="tns:IOrderService_AddToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteFromCart" message="tns:IOrderService_DeleteFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteFromCartResponse" message="tns:IOrderService_DeleteFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHoursFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetHoursFrom" message="tns:IOrderService_GetHoursFrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetHoursFromResponse" message="tns:IOrderService_GetHoursFrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHoursTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetHoursTo" message="tns:IOrderService_GetHoursTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetHoursToResponse" message="tns:IOrderService_GetHoursTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartForPaypal">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetShoppingCartForPaypal" message="tns:IOrderService_GetShoppingCartForPaypal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetShoppingCartForPaypalResponse" message="tns:IOrderService_GetShoppingCartForPaypal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobCallendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetJobCallendar" message="tns:IOrderService_GetJobCallendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetJobCallendarResponse" message="tns:IOrderService_GetJobCallendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/FindOrder" message="tns:IOrderService_FindOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/FindOrderResponse" message="tns:IOrderService_FindOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSalelines">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllSalelines" message="tns:IOrderService_GetAllSalelines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllSalelinesResponse" message="tns:IOrderService_GetAllSalelines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrders" message="tns:IOrderService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersResponse" message="tns:IOrderService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceHttpEndpoint" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BookedTimeExceptionFault">
        <soap:fault use="literal" name="BookedTimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayForOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/PayForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanCart">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CleanCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromCart">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoursFrom">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetHoursFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoursTo">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetHoursTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartForPaypal">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetShoppingCartForPaypal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobCallendar">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetJobCallendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/FindOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSalelines">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllSalelines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderServiceHttpEndpoint" binding="tns:OrderServiceHttpEndpoint">
      <soap:address location="http://jobportalik.cloudapp.net/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>