Test/MyWeb/Connected Services/UserServiceReference/Microsoft.AspNet.Identity.EntityFramework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity" />
  <xs:complexType name="IdentityDbContextOfApplicationUsermgZUxk6B">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentityDbContextOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ApplicationUser" Namespace="http://schemas.datacontract.org/2004/07/JobPortal.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaim0qEo88cu">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentityDbContextOfApplicationUsermgZUxk6B" nillable="true" type="tns:IdentityDbContextOfApplicationUsermgZUxk6B" />
  <xs:complexType name="IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaim0qEo88cu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentityDbContextOf{0}{1}{2}{3}{4}{5}{#}" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ApplicationUser" Namespace="http://schemas.datacontract.org/2004/07/JobPortal.Model" />
          <GenericParameter Name="IdentityRole" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="IdentityUserLogin" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
          <GenericParameter Name="IdentityUserRole" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
          <GenericParameter Name="IdentityUserClaim" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Entity" base="q1:DbContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequireUniqueEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaim0qEo88cu" nillable="true" type="tns:IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaim0qEo88cu" />
</xs:schema>